<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>UserName</key>
		<string>手机用户1712H</string>
		<key>AttendCount</key>
		<string>1人参与</string>
		<key>Comment</key>
		<string>本人男近期想入手一台新宝来手动时尚，想求下用过这款车的给个评价，还有现在买是14款还是15款，在价格上也给个建议，谢谢帮助。</string>
	</dict>
	<dict>
		<key>UserName</key>
		<string>sdcumt</string>
		<key>AttendCount</key>
		<string>2人参与</string>
		<key>Comment</key>
		<string>落地14W最多，求推荐，一家子用，谢谢各位。一样后期保养也需要考虑下，不想费太多在车上，还要买房呢，谢啦。</string>
	</dict>
	<dict>
		<key>UserName</key>
		<string>可可12118</string>
		<key>AttendCount</key>
		<string>19人参与</string>
		<key>Comment</key>
		<string>三厢车，十五万以内，大家推荐一下！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！</string>
	</dict>
	<dict>
		<key>UserName</key>
		<string>sunjian12248</string>
		<key>AttendCount</key>
		<string>11人参与</string>
		<key>Comment</key>
		<string>想买个落地不超过十五万的车，男，二十二岁，家庭用车，目前在考虑起亚k3，k4，福克斯，大众等等，大家有什么好的推荐没有？</string>
	</dict>
</array>
</plist>
